<div fxLayout="column" fxLayoutAlign="center center" class="py-5">
    <mat-card>
      <mat-card-title>Connexion</mat-card-title>
      <mat-card-content>
        <form [formGroup]="signInForm" (ngSubmit)="trySignin()" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center center">
          <mat-form-field>
            <input matInput type="email" formControlName="email" placeholder="email">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="password" formControlName="password" placeholder="mot de passe">
          </mat-form-field>
          <input type="submit" class="btn btn-success" value="Connexion">
          <!-- <button mat-raised-button color="primary" (click)="trySignin()">Connexion</button> -->
        </form>
      </mat-card-content>
    </mat-card>
  </div>